<div class="flex items-center justify-between">
    <p class="text-sm text-neutral-500 dark:text-neutral-400">
        &copy;
        2025
        Ville Paukkunen
    </p>

    <p class="text-xs text-neutral-500 dark:text-neutral-400">
        Powered by:
        <img src="/tux.png" style="width: 50px" alt="Tux logo">
        <a href="https://ubuntu.com/"><img src="/ubuntu.png" style="width: 50px" alt="Ubuntu logo"></a>
        <a href="https://k3s.io/"><img src="/k3s-logo-dark.svg" style="width: 100px" alt="K3s logo"></a>
        <a href="https://nginx.org/"><img src="/nginx.png" style="width: 100px" alt="Nginx logo"></a>
    </p>
</div>